# Ports
MAIIN_PORT=1234 # Put your main site port here
STAFF_PORT=1234 # Put your Staff Panel Port Here

# Databasing
MONGO_URI= # Put your MongoDB connection URI here

# Stripe API
STRIPE_API_KEY= # Put your stripe API key here

# Session Secret Keys
MAIN_SECRET=QWFUHQF # Put a random 23 character string here
STAFF_SECRET=QFPIJQOIF # Put a random 23 character string here